* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(158, 158, 247, 0.74);
    position: sticky;
    top: 0;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    max-width: none;
    z-index: 9999;
}

body {
    background-color: rgba(158, 158, 247, 0.288);
}

header h1 {
    margin: 25px;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
header nav ul li {
    margin: 15px;
    border: solid aqua;
    padding: 4px;
    box-shadow: 10px 11px 5px 4px rgba(0, 0, 255, .2);
}

header nav ul li a {
    padding: 10px 3px;
}

header a {
    color: aqua;
    text-decoration: none;
}

.bio h1 {
    display: flex;
    margin: 35px;
    justify-content: center;
    border-style: dashed double;
    padding: 100px 50px 30px 25px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    color: rgb(0, 33, 180);
    border-color: black;
    font-size: 50px;
}

.description {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 25px;
}

.description h2 {
    font-size: 40px;
    color: cornflowerblue;
    padding: 20px;
}

.space {
    background-image: url(/assets/images/3164127.jpg);
    padding: 85px;
}

.space {
    position: relative;
}
.space h2 {
    position: absolute;
    top: 145px;
    right: 20px;
    color: orange;
}

.work-art {
    display: flex;
    justify-content: center;
}

.work-art div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-art h1 {
    display: flex;
    margin: 35px;
    justify-content: center;
    border-style: dashed double;
    padding: 215px 85px 30px 25px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    color: rgb(0, 33, 180);
    border-color: black;
    font-size: 50px;
}

.work-art div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.contact-l h1 {
    display: flex;
    margin: 35px;
    margin-right: auto;
    justify-content: center;
    border-style: dashed double;
    padding: 70px 85px 30px 25px;
    border-left: none;
    border-bottom: none;
    border-top: none;
    color: rgb(0, 33, 180);
    border-color: black;
    font-size: 50px;
}

.contact-l {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 25px;
}

.LED a img {
    border: solid cornflowerblue;
    margin: 15px;
    margin-bottom: auto;
}

.calc a img {
    border: solid cornflowerblue;
    margin: 5px;
}

.puzzle a img {
    border: solid cornflowerblue;
    margin: 15px;
}

.surf a img {
    border: solid cornflowerblue;
    margin: 15px;
}

.work-art a img {
    opacity: 60%;
}

.work-art a img:hover {
    opacity: 100%;
}

.run-bud a img {
    border: solid cornflowerblue;
    margin: 15px;
}

.run-bud {
    position: relative;
}

.r-html {
    position: absolute;
    left: 18px;
    bottom: 45px;
    border: solid cornflowerblue;
    border-left: none;
    margin-bottom: auto;
    background-color: rgba(0, 0, 255, .6);
    color: aqua;
    opacity: 60%;
}

.LED {
    position: relative;
}

.l-html {
    position: absolute;
    left: 18px;
    bottom: 45px;
    border: solid cornflowerblue;
    border-left: none;
    margin-bottom: auto;
    background-color: rgba(0, 0, 255, .6);
    color: aqua;
    opacity: 60%;
}

.calc {
    position: relative;
}

.c-html {
    position: absolute;
    left: 5px;
    bottom: 45px;
    border: solid cornflowerblue;
    border-left: none;
    margin-bottom: auto;
    background-color: rgba(0, 0, 255, .6);
    color: aqua;
    opacity: 60%;
}

.puzzle {
    position: relative;
}

.p-html {
    position: absolute;
    left: 16px;
    bottom: 45px;
    border: solid cornflowerblue;
    border-left: none;
    margin-bottom: auto;
    background-color: rgba(0, 0, 255, .6);
    color: aqua;
    opacity: 60%;
}

.surf {
    position: relative
}

.s-html {
    position: absolute;
    left: 16px;
    bottom: 45px;
    border: solid cornflowerblue;
    border-left: none;
    margin-bottom: auto;
    background-color: rgba(0, 0, 255, .6);
    color: aqua;
    opacity: 60%;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

#contact-me div ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.contact h3 {
    margin: 105px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
}

.contact a {
    text-decoration: none;
    color: aqua;
    padding: 5px;
    border: solid aqua;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    background-color: rgba(158, 158, 247, 0.74);
}

@media screen and (max-width=980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
      }
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
}